catalog_cache/pipelines/kestra/daily_ng_curation.yaml
# 每日 NG 捞图归档 — 生产 Flow（需业务库）
#
# 流程一句话：查询 → 建批次 → 导出 → 等人改 COCO → 导入 → 归档 → 通知
# 数据接力：task_id（query）→ batch_id（batch）→ 全程同一 batch_id
# 定时：每天 02:00（Asia/Shanghai）自动触发
#
# 范例注释规范：docs/FLOW_YAML_COMMENTS.md

id: daily_ng_curation
namespace: iisp
description: 查询筛选 NG → 创建批次 → 导出 → 人工卡点 → 导入 → 归档

# 用户点「运行」或 Cron 触发时传入
inputs:
  - id: strategy_id
    type: STRING
    defaults: daily_trawl
  - id: time_window
    type: JSON
    defaults: '{"preset":"yesterday"}'
  - id: reviewer
    type: STRING
    required: false

tasks:
  # 【步骤 query】工具 query — 按策略查业务库
  # 入参：strategy_id、time_window ← inputs；data_source 固定 detail
  # 出参：task_id、row_count → 留给 batch
  # 上游包：无（第一步）
  - id: query
    type: io.kestra.plugin.core.http.Request
    uri: "{{ envs.iisp_base }}/v1/tools/query/invoke"
    method: POST
    contentType: application/json
    body: |
      {{ {
        "run_id": execution.id,
        "step_id": "query",
        "params": {
          "strategy_id": inputs.strategy_id,
          "time_window": inputs.time_window,
          "data_source": "detail"
        },
        "inputs": { "upstream": {} }
      } | toJson }}

  # 【分支 after_query】仅当 query 返回 status=done 才走主链路
  - id: after_query
    type: io.kestra.plugin.core.flow.If
    condition: "{{ fromJson(outputs.query.body).status == 'done' }}"
    then:
      - id: main_pipeline
        type: io.kestra.plugin.core.flow.Sequential
        tasks:
          # 【步骤 batch】工具 curation-create — 创建筛选批次
          # 入参：task_id ← query.outputs.task_id；reviewer ← inputs.reviewer
          # 出参：batch_id → export / import / archive
          # 上游包：query 整份 outputs
          - id: batch
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-create/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "batch",
                "params": {
                  "task_id": fromJson(outputs.query.body).outputs.task_id,
                  "intent_type": "daily_ng",
                  "reviewer": inputs.reviewer
                },
                "inputs": { "upstream": fromJson(outputs.query.body).outputs }
              } | toJson }}

          # 【步骤 export】工具 curation-export — 导出出站 COCO
          # 入参：batch_id ← batch.outputs.batch_id
          # 出参：export_dir 等 → import
          # 上游包：batch 整份 outputs
          - id: export
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-export/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "export",
                "params": { "batch_id": fromJson(outputs.batch.body).outputs.batch_id },
                "inputs": { "upstream": fromJson(outputs.batch.body).outputs }
              } | toJson }}

          # 【步骤 human_edit】人工卡点 — 在 IISP 筛选归档改 COCO 后 Resume
          - id: human_edit
            type: io.kestra.plugin.core.flow.Pause
            description: "请在 IISP 编辑出站 COCO 后 Resume；batch_id={{ fromJson(outputs.batch.body).outputs.batch_id }}"

          # 【步骤 import】工具 curation-import
          # 入参：batch_id ← batch.outputs.batch_id
          # 上游包：export 整份 outputs
          - id: import
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-import/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "import",
                "params": { "batch_id": fromJson(outputs.batch.body).outputs.batch_id },
                "inputs": { "upstream": fromJson(outputs.export.body).outputs }
              } | toJson }}

          # 【步骤 archive】工具 curation-archive
          # 入参：batch_id ← batch.outputs.batch_id
          # 上游包：import 整份 outputs
          - id: archive
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-archive/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "archive",
                "params": { "batch_id": fromJson(outputs.batch.body).outputs.batch_id },
                "inputs": { "upstream": fromJson(outputs.import.body).outputs }
              } | toJson }}

          # 【步骤 notify】工具 notify — 流程完成通知
          # 上游包：archive 整份 outputs
          - id: notify
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/notify/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "notify",
                "params": { "event": "workflow_done" },
                "inputs": { "upstream": fromJson(outputs.archive.body).outputs }
              } | toJson }}

    else:
      - id: empty_result
        type: io.kestra.plugin.core.log.Log
        message: "Query skipped — reason={{ fromJson(outputs.query.body).outputs.reason | default('empty') }}"

# 【定时触发】每天凌晨 2 点自动跑本 Flow
triggers:
  - id: daily_cron
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 2 * * *"
    timezone: Asia/Shanghai
