catalog_cache/pipelines/kestra/daily_ng_curation_smoke.yaml
# daily_ng 冒烟变体 — 无需业务库
#
# 流程一句话：smoke-query → 批次 → 导出 → Pause → 导入 → 归档 → 通知
# 数据接力：task_id → batch_id（与 daily_ng_curation 相同主链路，仅查询步换成样本）
#
# 范例注释规范：docs/FLOW_YAML_COMMENTS.md

id: daily_ng_curation_smoke
namespace: iisp
description: daily_ng 冒烟变体 — smoke-query 固定样本，Pause 后由脚本回传 COCO 并 Resume

inputs:
  - id: reviewer
    type: STRING
    required: false

tasks:
  # 【步骤 query】工具 smoke-query — 固定 2 条样本
  # 入参：row_count 写死 2
  # 出参：task_id → batch
  # 上游包：无
  - id: query
    type: io.kestra.plugin.core.http.Request
    uri: "{{ envs.iisp_base }}/v1/tools/smoke-query/invoke"
    method: POST
    contentType: application/json
    body: |
      {{ {
        "run_id": execution.id,
        "step_id": "query",
        "params": { "row_count": 2, "strategy_id": "smoke" },
        "inputs": { "upstream": {} }
      } | toJson }}

  # 【分支 after_query】query 成功才继续
  - id: after_query
    type: io.kestra.plugin.core.flow.If
    condition: "{{ fromJson(outputs.query.body).status == 'done' }}"
    then:
      - id: main_pipeline
        type: io.kestra.plugin.core.flow.Sequential
        tasks:
          # 【步骤 batch】工具 curation-create
          # 入参：task_id ← query.outputs.task_id
          # 出参：batch_id → 下游
          - id: batch
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-create/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "batch",
                "params": {
                  "task_id": fromJson(outputs.query.body).outputs.task_id,
                  "intent_type": "daily_ng",
                  "reviewer": inputs.reviewer
                },
                "inputs": { "upstream": fromJson(outputs.query.body).outputs }
              } | toJson }}

          # 【步骤 export】batch_id ← batch.outputs.batch_id
          - id: export
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-export/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "export",
                "params": {
                  "batch_id": fromJson(outputs.batch.body).outputs.batch_id,
                  "include_images": false
                },
                "inputs": { "upstream": fromJson(outputs.batch.body).outputs }
              } | toJson }}

          # 【步骤 human_edit】M2 冒烟人工卡点
          - id: human_edit
            type: io.kestra.plugin.core.flow.Pause
            description: "M2 冒烟卡点；batch_id={{ fromJson(outputs.batch.body).outputs.batch_id }}"

          # 【步骤 import】batch_id 不变
          - id: import
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-import/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "import",
                "params": { "batch_id": fromJson(outputs.batch.body).outputs.batch_id },
                "inputs": { "upstream": fromJson(outputs.export.body).outputs }
              } | toJson }}

          # 【步骤 archive】
          - id: archive
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-archive/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "archive",
                "params": {
                  "batch_id": fromJson(outputs.batch.body).outputs.batch_id,
                  "copy_images": false
                },
                "inputs": { "upstream": fromJson(outputs.import.body).outputs }
              } | toJson }}

          # 【步骤 notify】
          - id: notify
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/notify/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "notify",
                "params": { "event": "workflow_done" },
                "inputs": { "upstream": fromJson(outputs.archive.body).outputs }
              } | toJson }}

    else:
      - id: empty_result
        type: io.kestra.plugin.core.log.Log
        message: "smoke-query 未返回 done — body={{ outputs.query.body }}"
