docs/examples/kestra/daily_ng_curation.yaml
# 与 iisp-catalog/pipelines/kestra/daily_ng_curation.yaml 保持同步
# 范例注释规范：docs/FLOW_YAML_COMMENTS.md

# 每日 NG 捞图归档 — 生产 Flow（需业务库）
#
# 流程一句话：查询 → 建批次 → 导出 → 等人改 COCO → 导入 → 归档 → 通知
# 数据接力：task_id（query）→ batch_id（batch）→ 全程同一 batch_id
# 定时：每天 02:00（Asia/Shanghai）自动触发

id: daily_ng_curation
namespace: iisp
description: 查询筛选 NG → 创建批次 → 导出 → 人工卡点 → 导入 → 归档

inputs:
  - id: strategy_id
    type: STRING
    defaults: daily_trawl
  - id: time_window
    type: JSON
    defaults: '{"preset":"yesterday"}'
  - id: reviewer
    type: STRING
    required: false

tasks:
  # 【步骤 query】工具 query — 按策略查业务库
  # 入参：strategy_id、time_window ← inputs
  # 出参：task_id → batch
  - id: query
    type: io.kestra.plugin.core.http.Request
    uri: "{{ envs.iisp_base }}/v1/tools/query/invoke"
    method: POST
    contentType: application/json
    body: |
      {{ {
        "run_id": execution.id,
        "step_id": "query",
        "params": {
          "strategy_id": inputs.strategy_id,
          "time_window": inputs.time_window,
          "data_source": "detail"
        },
        "inputs": { "upstream": {} }
      } | toJson }}

  - id: after_query
    type: io.kestra.plugin.core.flow.If
    condition: "{{ fromJson(outputs.query.body).status == 'done' }}"
    then:
      - id: main_pipeline
        type: io.kestra.plugin.core.flow.Sequential
        tasks:
          # 【步骤 batch】task_id ← query.outputs.task_id → 出参 batch_id
          - id: batch
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-create/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "batch",
                "params": {
                  "task_id": fromJson(outputs.query.body).outputs.task_id,
                  "intent_type": "daily_ng",
                  "reviewer": inputs.reviewer
                },
                "inputs": { "upstream": fromJson(outputs.query.body).outputs }
              } | toJson }}

          # 【步骤 export】batch_id ← batch.outputs.batch_id
          - id: export
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-export/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "export",
                "params": { "batch_id": fromJson(outputs.batch.body).outputs.batch_id },
                "inputs": { "upstream": fromJson(outputs.batch.body).outputs }
              } | toJson }}

          - id: human_edit
            type: io.kestra.plugin.core.flow.Pause
            description: "请在 IISP 编辑出站 COCO 后 Resume；batch_id={{ fromJson(outputs.batch.body).outputs.batch_id }}"

          - id: import
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-import/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "import",
                "params": { "batch_id": fromJson(outputs.batch.body).outputs.batch_id },
                "inputs": { "upstream": fromJson(outputs.export.body).outputs }
              } | toJson }}

          - id: archive
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-archive/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "archive",
                "params": { "batch_id": fromJson(outputs.batch.body).outputs.batch_id },
                "inputs": { "upstream": fromJson(outputs.import.body).outputs }
              } | toJson }}

          - id: notify
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/notify/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "notify",
                "params": { "event": "workflow_done" },
                "inputs": { "upstream": fromJson(outputs.archive.body).outputs }
              } | toJson }}

    else:
      - id: empty_result
        type: io.kestra.plugin.core.log.Log
        message: "Query skipped — reason={{ fromJson(outputs.query.body).outputs.reason | default('empty') }}"

triggers:
  - id: daily_cron
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 2 * * *"
    timezone: Asia/Shanghai
