iisp-catalog/pipelines/kestra/closed_loop_demo.yaml
# 编排闭环演示 — 真实业务库
#
# 流程一句话：query(库) → 批次 → 导出 → Pause → 导入 → 归档 → 通知
# 数据接力：task_id → batch_id
# 触发：/flows 选本任务或 scripts/run-closed-loop-demo.sh --real
#
# 范例注释规范：docs/FLOW_YAML_COMMENTS.md

id: closed_loop_demo
namespace: iisp
description: |
  【编排闭环演示 · 真实查询】
  1) query 工具按策略查业务库，返回 task_id / result.csv
  2) 创建筛选批次并导出出站 COCO
  3) Pause 后在 IISP「筛选归档」上传/确认 COCO，再 Resume
  4) 导入、归档、notify 通知
  需 config.json 数据库可读；无数据时走 empty_result 分支。

inputs:
  - id: strategy_id
    type: STRING
    defaults: daily_trawl
  - id: time_window
    type: JSON
    defaults: '{"preset":"yesterday"}'
  - id: reviewer
    type: STRING
    required: true
    defaults: demo-reviewer

tasks:
  # 【步骤 query】工具 query — 查业务库
  # 入参：strategy_id、time_window ← inputs
  # 出参：task_id → batch
  # 上游包：无
  - id: query
    type: io.kestra.plugin.core.http.Request
    uri: "{{ envs.iisp_base }}/v1/tools/query/invoke"
    method: POST
    contentType: application/json
    body: |
      {{ {
        "run_id": execution.id,
        "step_id": "query",
        "params": {
          "strategy_id": inputs.strategy_id,
          "time_window": inputs.time_window,
          "data_source": "detail"
        },
        "inputs": { "upstream": {} }
      } | toJson }}

  - id: query_result_log
    type: io.kestra.plugin.core.log.Log
    message: |
      [closed_loop_demo] query status={{ fromJson(outputs.query.body).status }}
      task_id={{ fromJson(outputs.query.body).outputs.task_id | default('n/a') }}
      row_count={{ fromJson(outputs.query.body).outputs.row_count | default(fromJson(outputs.query.body).outputs.count | default(0)) }}

  # 【分支 after_query】
  - id: after_query
    type: io.kestra.plugin.core.flow.If
    condition: "{{ fromJson(outputs.query.body).status == 'done' }}"
    then:
      - id: main_pipeline
        type: io.kestra.plugin.core.flow.Sequential
        tasks:
          # 【步骤 batch】task_id ← query.outputs.task_id
          - id: batch
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-create/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "batch",
                "params": {
                  "task_id": fromJson(outputs.query.body).outputs.task_id,
                  "intent_type": "closed_loop_demo",
                  "reviewer": inputs.reviewer
                },
                "inputs": { "upstream": fromJson(outputs.query.body).outputs }
              } | toJson }}

          # 【步骤 export】batch_id ← batch.outputs.batch_id
          - id: export
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-export/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "export",
                "params": {
                  "batch_id": fromJson(outputs.batch.body).outputs.batch_id,
                  "include_images": false
                },
                "inputs": { "upstream": fromJson(outputs.batch.body).outputs }
              } | toJson }}

          # 【步骤 human_edit】去 /curation?batch_id=… 操作后 Resume
          - id: human_edit
            type: io.kestra.plugin.core.flow.Pause
            description: "闭环演示人工卡点 — 请在 IISP /curation 确认或上传 COCO 后 Resume；batch_id={{ fromJson(outputs.batch.body).outputs.batch_id }}"

          # 【步骤 import】
          - id: import
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-import/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "import",
                "params": { "batch_id": fromJson(outputs.batch.body).outputs.batch_id },
                "inputs": { "upstream": fromJson(outputs.export.body).outputs }
              } | toJson }}

          # 【步骤 archive】
          - id: archive
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-archive/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "archive",
                "params": {
                  "batch_id": fromJson(outputs.batch.body).outputs.batch_id,
                  "copy_images": false
                },
                "inputs": { "upstream": fromJson(outputs.import.body).outputs }
              } | toJson }}

          # 【步骤 notify】
          - id: notify
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/notify/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "notify",
                "params": {
                  "event": "workflow_done",
                  "extra": { "message": "closed_loop_demo 闭环演示已完成" }
                },
                "inputs": { "upstream": fromJson(outputs.archive.body).outputs }
              } | toJson }}

    else:
      - id: empty_result
        type: io.kestra.plugin.core.log.Log
        message: "查询无结果或 skipped — status={{ fromJson(outputs.query.body).status }} reason={{ fromJson(outputs.query.body).outputs.reason | default('empty') }}"
