iisp-catalog/pipelines/kestra/closed_loop_demo_smoke.yaml
# 编排闭环演示 — 样本模式（无需业务库）
#
# 流程一句话：查询 → 建批次 → 导出 → 等人改 COCO → 导入 → 归档 → 通知
# 数据接力：task_id（query）→ batch_id（batch）→ 全程用同一 batch_id；Pause 后按 batch_id 读盘
#
# 全自动：bash scripts/run-closed-loop-demo.sh

id: closed_loop_demo_smoke
namespace: iisp
description: |
  【编排闭环演示 · 样本模式 · 推荐】
  无需连接业务库：smoke-query 生成 2 条样本与 result.csv，
  再走批次/导出/归档/通知全链路。配合 run-closed-loop-demo.sh 可一键跑通 SUCCESS。

# 用户点「运行」时填的参数（不是工具之间的传递）
inputs:
  - id: reviewer
    type: STRING
    required: true
    defaults: demo-reviewer
  - id: row_count
    type: INT
    defaults: 2

tasks:
  # 【步骤 query】工具 smoke-query — 造样本查询任务
  # 入参：row_count ← inputs.row_count；strategy_id 写死本 Flow 名
  # 出参：task_id、row_count → 留给 batch
  # 上游包：无（第一步）
  - id: query
    type: io.kestra.plugin.core.http.Request
    uri: "{{ envs.iisp_base }}/v1/tools/smoke-query/invoke"
    method: POST
    contentType: application/json
    body: |
      {{ {
        "run_id": execution.id,
        "step_id": "query",
        "params": {
          "row_count": inputs.row_count,
          "strategy_id": "closed_loop_demo_smoke",
          "strategy_name": "编排闭环演示(样本)"
        },
        "inputs": { "upstream": {} }
      } | toJson }}

  - id: query_result_log
    type: io.kestra.plugin.core.log.Log
    message: |
      [closed_loop_demo_smoke] task_id={{ fromJson(outputs.query.body).outputs.task_id }}
      row_count={{ fromJson(outputs.query.body).outputs.row_count }}

  # 【分支 after_query】仅当 query 返回 status=done 才走主链路
  - id: after_query
    type: io.kestra.plugin.core.flow.If
    condition: "{{ fromJson(outputs.query.body).status == 'done' }}"
    then:
      - id: main_pipeline
        type: io.kestra.plugin.core.flow.Sequential
        tasks:
          # 【步骤 batch】工具 curation-create — 用 task_id 建筛选批次
          # 入参：task_id ← query.outputs.task_id；reviewer ← inputs.reviewer
          # 出参：batch_id → export / import / archive / Pause 提示
          # 上游包：query 整份 outputs
          - id: batch
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-create/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "batch",
                "params": {
                  "task_id": fromJson(outputs.query.body).outputs.task_id,
                  "intent_type": "closed_loop_demo",
                  "reviewer": inputs.reviewer
                },
                "inputs": { "upstream": fromJson(outputs.query.body).outputs }
              } | toJson }}

          # 【步骤 export】工具 curation-export — 导出出站 COCO 包
          # 入参：batch_id ← batch.outputs.batch_id
          # 出参：export_dir 等 → import 可参考
          # 上游包：batch 整份 outputs
          - id: export
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-export/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "export",
                "params": {
                  "batch_id": fromJson(outputs.batch.body).outputs.batch_id,
                  "include_images": false
                },
                "inputs": { "upstream": fromJson(outputs.batch.body).outputs }
              } | toJson }}

          # 【步骤 human_edit】人工卡点 — 不是工具；等人改 COCO 后 Resume
          # batch_id 见 description，去 IISP 筛选页操作
          - id: human_edit
            type: io.kestra.plugin.core.flow.Pause
            description: "闭环演示 Pause；batch_id={{ fromJson(outputs.batch.body).outputs.batch_id }} — run-closed-loop-demo.sh 将自动回传 COCO"

          # 【步骤 import】工具 curation-import — 读回改好的 COCO
          # 入参：batch_id ← 仍是 batch 的 batch_id（目录未变）
          # 出参：keep_count 等 → archive
          # 上游包：export 整份 outputs
          - id: import
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-import/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "import",
                "params": { "batch_id": fromJson(outputs.batch.body).outputs.batch_id },
                "inputs": { "upstream": fromJson(outputs.export.body).outputs }
              } | toJson }}

          # 【步骤 archive】工具 curation-archive — 归档筛选结果
          # 入参：batch_id ← batch.outputs.batch_id
          # 出参：archive_dir → notify
          # 上游包：import 整份 outputs
          - id: archive
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/curation-archive/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "archive",
                "params": {
                  "batch_id": fromJson(outputs.batch.body).outputs.batch_id,
                  "copy_images": false
                },
                "inputs": { "upstream": fromJson(outputs.import.body).outputs }
              } | toJson }}

          # 【步骤 notify】工具 notify — 发完成通知
          # 入参：event、message 写死；无上游字段依赖
          # 上游包：archive 整份 outputs（可选带给通知内容）
          - id: notify
            type: io.kestra.plugin.core.http.Request
            uri: "{{ envs.iisp_base }}/v1/tools/notify/invoke"
            method: POST
            contentType: application/json
            body: |
              {{ {
                "run_id": execution.id,
                "step_id": "notify",
                "params": {
                  "event": "workflow_done",
                  "extra": { "message": "closed_loop_demo_smoke 闭环演示已完成" }
                },
                "inputs": { "upstream": fromJson(outputs.archive.body).outputs }
              } | toJson }}

    else:
      - id: empty_result
        type: io.kestra.plugin.core.log.Log
        message: "smoke-query 失败 — body={{ outputs.query.body }}"
